/* .table > thead > tr > th, .table > tbody > tr > th,  */
.table > tfoot > tr > th, .table > thead > tr > td, 
.table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 5px 4px 5px 5px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
.table > tbody > tr > td > .form-control {
	height: 26px;
}
.table > tbody > tr > td > input[type="text"] {
    font-size:12px;
}
.b47PM-container {
	background: #3C3C3C;
}