.panel-name {
    font-size: 13px;
}
.panel-icon {
    font-size: 16px;
    color: #4C629A;
    margin-right: 6px;
}

.panel-heading {
    padding: 8px 15px;
}
.tool-list {
    margin-top: -26px;
}
.tool-list button {
    outline: none;
}