<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   <ul class="submenu-nav nav nav-pills" role="submenu">
      <li [routerLinkActive]="['active']"><a href="" [routerLink]="['../../carrier']">Carrier Information</a></li>
      <li [routerLinkActive]="['active']"><a href="" [routerLink]="['../../plan']">Carrier Plan</a></li>
      <li [routerLinkActive]="['active']"><a href="" [routerLink]="['../../rider']">Carrier Rider</a></li>
   </ul>
   <!-- <ul class="submenu-nav nav nav-pills nav-pills1" role="submenu">
      <li role="presentation" [routerLinkActive]="['active']"><a href="" [routerLink]="['../riderinfo']">Rider Information</a></li>
   </ul> -->
   <!-- <li role="presentation" [routerLinkActive]="['active']"><a href="" [routerLink]="['../ridercommission']" [class.disabled]="disableThisUrl ? true : null">Rider Commission</a></li> -->
</div>
