<div class="b47PM-wrapper before-login">
    <!-- ".before-login" add this Class when user is not loged in -->
    <app-before-login-header></app-before-login-header>

    <div class="b47PM-center-body">
        <div class="b47PM-OTP-quad">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 fog-pass">
                    <header align="center">
                        <!-- <img src="/assets/img/login-registration/piemony-logo.png" alt=""> -->
                        Conjurer
                    </header>
                    <div>
                        <alert></alert>
                        <form [formGroup]="resetPasswordForm" name="form" (ngSubmit)="resetPassword()" role="form" class="register-form">
                            <div class="form-group" [ngClass]="{ 'has-error': (resetPasswordForm.get('newPassword').dirty || resetPasswordForm.get('newPassword').touched) && resetPasswordForm.get('newPassword').errors?.required || resetPasswordForm.get('newPassword').errors?.pattern}">
                                <label>Password</label>
                                <popover-content #myPopover
                                    [closeOnMouseOutside]="true"
                                    placement="auto"
                                    [animation]="true">
                                    <p>Password Guidelines</p>
                                    <ul class="fa-ul">
                                    <li id="rangeChar"><i class="fa-li glyphicon glyphicon-remove pm-red" aria-hidden="true"></i>From 8 - 20 characters</li>
                                    <li id="oneupper"><i class="fa-li glyphicon glyphicon-remove pm-red" aria-hidden="true"></i>At least one Uppercase Alphabet</li>
                                    <li id="onelower"><i class="fa-li glyphicon glyphicon-remove pm-red"  aria-hidden="true"></i>At least one Lowercase Alphabet</li>
                                    <li id="onenumber"><i class="fa-li glyphicon glyphicon-remove pm-red" aria-hidden="true"></i>At least one Number</li>
                                    <li id="onesplchar"><i class="fa-li glyphicon glyphicon-remove pm-red" aria-hidden="true"></i>At least one allowed special character: $,@,!,%,*,?,&,#,~,^</li>
                                    </ul>
                                </popover-content>
                                <input type="password" formControlName="newPassword" [popover]="myPopover" popoverPlacement="right" (keyup)="checkPasswordValidation()" id="newPassword" class="form-control"/>
                                <div *ngIf="resetPasswordForm.get('newPassword').errors && (resetPasswordForm.get('newPassword').dirty || resetPasswordForm.get('newPassword').touched)"> 
                                    <div *ngIf="resetPasswordForm.get('newPassword').errors?.required" class="help-block">
                                        Password is required.
                                    </div>
                                    <div *ngIf="resetPasswordForm.get('newPassword').errors?.pattern" class="help-block">
                                        Not a valid Password!
                                    </div>
                                </div>
                            </div>
    
                            <div class="form-group" [ngClass]="{ 'has-error': (resetPasswordForm.get('confirmPassword').dirty || resetPasswordForm.get('confirmPassword').touched) && resetPasswordForm.get('confirmPassword').errors?.required || resetPasswordForm.get('confirmPassword').errors?.pattern}">
                                <label>Confirm Password</label>
                                <input type="password" formControlName="confirmPassword" class="form-control"/>
                                <div *ngIf="resetPasswordForm.get('confirmPassword').errors && (resetPasswordForm.get('confirmPassword').dirty || resetPasswordForm.get('confirmPassword').touched)"> 
                                    <div *ngIf="resetPasswordForm.get('confirmPassword').errors?.required" class="help-block">
                                        Password is required.
                                    </div>
                                    <div *ngIf="resetPasswordForm.get('confirmPassword').errors?.pattern" class="help-block">
                                        Not a valid Password!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="has-error">
                                    <span class="text-center" id="forgotPasswordError" class="help-block"></span>
                                </div>
                                <div class="clearfix"></div>
                                <button type="button" (click)="redirectToLoginPage()" [disabled]="dataLoading" class="btn btn-warning pull-left">CANCEL</button>
                                <button type="submit" [disabled]="resetPasswordForm.invalid || dataLoading" class="btn btn-primary pull-right">SUBMIT</button>
                                <img style="margin-top: 16px;" *ngIf="dataLoading" src="/assets/img/loader/spin.gif" />
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
    
                </div>
            </div>
        </div>
    </div>

    <app-before-login-footer></app-before-login-footer>
</div>